<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seniordesignproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeniorDesignProject">
        <activity
            android:name=".AnimalsDetailed"
            android:exported="false"
            android:parentActivityName=".Animals"/>
        <activity
            android:name=".AnimalsAdd"
            android:exported="false"
            android:parentActivityName=".Animals" />
        <activity
            android:name=".WeatherForecast"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewCalendarEvent"
            android:exported="false"
            android:parentActivityName=".Calendar" />
        <activity
            android:name=".Calendar"
            android:exported="false"
            android:parentActivityName=".Agenda" />
        <activity
            android:name=".CropsDetailed"
            android:exported="false"
            android:parentActivityName=".Crops" />
        <activity
            android:name=".CropsAdd"
            android:exported="false"
            android:parentActivityName=".Crops" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:parentActivityName=".Register" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".General_Information"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Animals"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Crops"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Agenda"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Weather"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>